.tab-links {
  border-bottom: 2px solid #979797;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  li {
    position: relative;
    &:after {
      position: absolute;
      bottom: -4px;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: transparent;
      content: "";
    }
    a {
      padding: 10px 20px;
      display: block;
      font-size: 13px;
      color: $gray;
    }
    &.active {
      &:after {
        background-color: $gray-darker;
      }
    }
  }
}

.nav-tabs {
  display: flex;
  .nav-tab {
    width: 128px;
    padding: 25px 10px;
    text-align: center;
    font-weight: $font-weight-medium;
    background-color: #d7dcec;
    margin: 0 5px 5px 0;
    cursor: pointer;
    &, a {
      color: $gray-typo-darker;
    }
    &.active {
      background-color: $light;
    }
    img {
      height: 40px;
    }
    span {
      display: block;
    }
  }
}

.tab-content-wrapper {
  margin-bottom: 40px;
  @include media-breakpoint-up(md){
    min-height: 200px;
  }
  .tab-content {
    background-color: $light;
    padding: 12px;
    display: none;
    &.active {
      display: block;
    }
    @include media-breakpoint-up(md) {
      padding: 40px;
    }
  }
}